<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>اطلاعات فایل</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>

</head>
<body>

<!-- start navbar -->
<div th:insert="~{navbar.html :: navbar}"></div>

<!-- end navbar -->

<div class="container">
    <div class="row flex-lg-nowrap">
        <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
            <div class="card p-3">
                <div class="e-navlist e-navlist--active-bg">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link px-1 active" th:href="11"><i
                                class="fa fa-fw fa-th mr-1"></i><span style="font-size:15px">صفحه اصلی</span></a></li>
                        <li class="nav-item"><a class="nav-link px-1" th:href="@{/files/file-info}"><i class="fa fa-fw fa-th mr-1"></i><span
                                style="font-size:15px">فایل ها</span></a></li>

                    </ul>
                </div>
            </div>
        </div>

        <input type="hidden" th:value="${file.getId()}" class="idInput" id="idInput" name="idInput">

        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                <div class="row">

                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <h4 th:text="${file.getDescription()}"
                                                class="pt-sm-2 pb-1 mb-0 text-nowrap"></h4>
                                            <p th:text="${file.getFileName}" class="mb-0"></p>

                                        </div>
                                        <div class="text-center text-sm-right">
                                            <span th:if="${file.getState() == 0}"
                                                  class="badge badge-secondary">عمومی</span>
                                            <span th:if="${file.getState() != 0}" class="badge badge-secondary">غیرعمومی</span>


                                            <div class="btn-group">
                                                <button onclick="changeState(0)" th:if="${file.getState() == -1}" type="button" class="btn btn-secondary btn-sm" aria-haspopup="true" aria-expanded="false">تغییر به عمومی</button>
                                                <button onclick="changeState(-1)" th:if="${file.getState() == 0}" type="button" class="btn btn-secondary btn-sm" aria-haspopup="true" aria-expanded="false">تغییر به غیر عمومی</button>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="#" class="active nav-link">اطلاعات فایل</a></li>
                                </ul>
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        <form class="form" novalidate="">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>عنوان فایل</label>
                                                                <input th:value="${file.getFileName() }"
                                                                       class="form-control" type="text" name="fileName"
                                                                       disabled>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>توضیحات عنوان</label>
                                                                <input th:value="${file.getDescription() }"
                                                                       class="form-control description" type="text"
                                                                       name="description" id="description">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>تاریخ ایجاد</label>
                                                                <input th:value="${file.getCreatedAt()}"
                                                                       class="form-control change-date-input"
                                                                       type="text" name="cerate-date"
                                                                        disabled>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>ایجاد کننده</label>
                                                                <input th:value="${file.getCreatedBy()}" class="form-control"
                                                                       type="text" name="size" disabled>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>وضعیت</label>
                                                                <input th:value="${file.getEnabled() == 1 ? 'فعال' : 'غیرفعال'}"
                                                                       class="form-control" type="text"
                                                                       name="format"
                                                                       disabled>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>دسته بندی اصلی</label>
                                                                <input th:value="${file.getFileCategoryNameDescription()}"
                                                                       class="form-control version" type="text"
                                                                       disabled>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>دسته بندی فرعی</label>
                                                                <input th:value="${file.getFileSubCategoryNameDescription()}"
                                                                       class="form-control" type="text"
                                                                       name="format"
                                                                       disabled>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>تگ</label>
                                                                <input th:value="${file.getTagDescription()}"
                                                                       class="form-control version" type="text"
                                                                       disabled>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>


                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3 mb-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="px-xl-3">
                                <button class="btn btn-block btn-danger" onclick="deleteFileInfo()">
                                    <i class="fa fa-sign-out"></i>
                                    <span>حذف کامل فایل</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <a onclick="updateFileInfoDescription()" type="button" class="btn btn-primary">ویرایش توضیحات</a>

                        </div>
                        <div class="card-body">
                            <a th:href="@{/files/create}" type="button"
                               class="btn btn-primary">ایجاد فایل جدید</a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container">
    <div class="row flex-lg-nowrap">


        <div class="col">
            <div class="e-tabs mb-3 px-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" href="#">ورژن ها و فرمتها</a></li>
                </ul>
            </div>

            <div class="row flex-lg-nowrap">
                <div class="col mb-3">
                    <div class="e-panel card">
                        <div class="card-body">
                            <div class="card-title">
                                <h6 class="mr-2"><span>ورژن و فرمت ها</span></h6>
                            </div>
                            <div class="e-table">
                                <div class="table-responsive table-lg mt-3">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>

                                            <th class="max-width">نام فایل</th>
                                            <th class="max-width">ورژن</th>
                                            <th class="max-width">حجم</th>
<!--                                            <th class="max-width">وضعیت</th>-->
                                            <th class="max-width">فرمت</th>
                                            <th class="max-width">تاریخ ایجاد</th>
                                            <th class="max-width">ایجاد کننده</th>
                                            <th class="max-width">عملیات</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="fd: ${file.getFileDetailsDTOS()}">

                                            <td th:text="${fd.getFileName()}" class="text-nowrap align-middle"></td>
                                            <td th:text="${fd.getVersion}" class="text-nowrap align-middle"></td>
                                            <td th:text="${(fd.getFileSize() / 1024)}" class="text-nowrap align-middle"></td>
                                            <td th:text="${fd.getFileExtension}" class="text-nowrap align-middle"></td>
                                            <td th:text="${fd.getCreatedAt()}" class="text-nowrap align-middle"></td>
                                            <td th:text="${fd.getCreatedBy()}" class="text-nowrap align-middle"></td>

                                            <td class="text-center align-middle">
                                                <div class="btn-group align-top">
                                                    <a th:href="@{'/files/file-info/' + ${file.getId()} + '/file-details/' + ${fd.getId() + '/download'} }"
                                                       class="btn btn-sm btn-outline-secondary badge" type="button">دانلود</a>
                                                </div>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="col-12 col-lg-3 mb-3">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <div class="text-center px-xl-3">-->
<!--                                <a th:href="@{2222}"-->
<!--                                   class="btn btn-success btn-block" type="button">اضافه کردن</a>-->
<!--                            </div>-->
<!--                            <hr class="my-3">-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>


        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>

<script>

    function deleteFileInfo() {
        if(confirm("آیا از حذف کامل این فایل اطمینان دارید؟ با حذف این فایل تمام فرمت ها و ورژن های مرتبط با فایل نیز حذف خواهد شد")) {
            $.ajax({
                url: "/resource/files/file-info/" + $(".idInput").val(),
                type: "DELETE",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ name: 'value1', email: 'value2' }),
                complete: function (xhr, status) {
                    if(xhr.status === 200) {
                        alert("حذف با موفقیت انجام شد.");
                        let currentLocation = window.location;
                        let newUrl = currentLocation.protocol + "//" + currentLocation.hostname + ":" + currentLocation.port + "/files/file-info";
                        window.location.replace(newUrl);
                    } else {
                        alert(xhr.responseText);
                    }
                }
            });
        }
    }

    function updateFileInfoDescription() {
        let updatedDesc = $(".description").val();

        if(updatedDesc === null || updatedDesc === undefined || updatedDesc === '') {
            alert("توضیحات وارد نشده است")
        } else {
            if(confirm("آیا از بروزرسانی توضیحات اطمینان دارید؟")) {
                $.ajax({
                    url: "/resource/files/file-info/" + $(".idInput").val(),
                    type: "PUT",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ description: updatedDesc, email: 'value2' }),
                    complete: function (xhr, status) {
                        if(xhr.status === 200) {
                            alert("بروزرسانی با موفقیت انجام شد");

                        } else {
                            alert(xhr.responseText);
                        }
                    }
                });
            }
        }


    }

    function changeState(i) {
        if(confirm("آیا از تغییر وضعیت اطمینان دارید؟")) {
            $.ajax({
                url: "/resource/files/file-info/" + $(".idInput").val() + "/change-state",
                type: "PUT",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ newState: i}),
                complete: function (xhr, status) {
                    if(xhr.status === 200) {
                        alert("تغییر وضعیت با موفقیت انجام شد");
                        let currentLocation = window.location;
                        let newUrl = currentLocation.protocol + "//" + currentLocation.hostname + ":" + currentLocation.port + "/files/file-info/" + $(".idInput").val();
                        window.location.replace(newUrl);
                    } else {
                        alert(xhr.responseText);
                    }
                }
            });
        }
    }

</script>


</body>
</html>