<!DOCTYPE html>
<html lang="fa" dir="rtl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:if="${#strings.equals(pageType, 'create')}" th:text="#{file.create.pageTitle}">ایجاد فایل</title>
    <title th:if="${#strings.equals(pageType, 'update')}" th:text="#{file.edit.pageTitle}">ویرایش فایل</title>

    <th:block th:replace="~{fragments.html :: head-assets-select}"></th:block>

</head>
<body>

<div th:replace="~{navbar.html :: navbar}"></div>


<h2></h2>
<h2 th:if="${#strings.equals(pageType, 'create')}" class="text-center" dir="rtl" th:text="#{file.create.pageTitle}">ایجاد فایل </h2>
<h2 th:if="${#strings.equals(pageType, 'update')}" class="text-center" dir="rtl" th:text="#{file.edit.heading}">ویرایش فایل</h2>
<div class="container">
    <form enctype="multipart/form-data" th:action="@{ ${#strings.equals(pageType, 'create') ? '/files' : '/files/' + file.getId()}  }" method="post" id="fileForm" th:object="${file}">

        <input th:field="*{id}" type="hidden">




        <div class="form-row">

            <div class="form-group col-md-6">
                <label th:text="#{field.description}">توضیحات</label>
                <input dir="rtl" type="text" class="form-control" th:field="*{description}" required>
            </div>

            <div class="form-group col-md-6">
                <label th:text="#{field.fileTitle}">عنوان فایل</label>
                <input dir="rtl" type="text" class="form-control" th:field="*{fileName}" readonly>
            </div>


            <div class="form-group col-md-6">
                <label th:text="#{select.subCategory}">انتخاب زیر دسته بندی </label>
                <select onclick="changeSubCategory()" onchange="changeSubCategory()" class="form-control fileSubCategoryId" name="fileSubCategoryId" id="fileSubCategoryId" required th:readonly="${#strings.equals(pageType, 'update')}" th:disabled="${#strings.equals(pageType, 'update')}">

                </select>
            </div>


            <div class="form-group col-md-6">
                <label th:text="#{select.category}">انتخاب دسته بندی اصلی</label>
                <select onchange="changeMainCategory()" class="form-control fileCategoryId" name="fileCategoryId" id="fileCategoryId" required th:readonly="${#strings.equals(pageType, 'update')}" th:disabled="${#strings.equals(pageType, 'update')}">
                    <option th:each="f: ${listCategory}" th:value="${f.getId()}" th:text="${f.getDisplayName()}" th:selected="${f.getId() == file.getFileCategoryId()}"></option>
                </select>
            </div>

            <div class="form-group col-md-6" style="text-align: right">
                <label for="multipartFile" th:text="#{field.chooseFile}">فایل موردنظر</label>
                <input type="file" class="form-control-file" name="multipartFile" id="multipartFile"
                       accept=".jpg,.xlsx,.docx,.pdf,.txt,.png,.mp4,.pptx,.mp3" required>
                <small class="form-text">فرمت‌های مجاز: <span class="technical" dir="ltr">JPG, PNG, PDF, TXT, XLSX, DOCX, PPTX, MP4, MP3</span>؛ حداکثر حجم ۲۰ مگابایت.</small>
            </div>

            <div class="form-group col-md-6">
                <label th:text="#{select.tag}">انتخاب تگ </label>
                <select class="form-control mainTagFileId" name="mainTagFileId" id="mainTagFileId" required th:readonly="${#strings.equals(pageType, 'update')}" th:disabled="${#strings.equals(pageType, 'update')}">

                </select>
            </div>







        </div>


        <!-- Success message -->
        <div th:if="${showMessage && valid}" class="alert alert-success" role="alert" id="success_message"><i
                class="glyphicon glyphicon-thumbs-up" th:text="${message}"></i>
        </div>
        <div th:if="${showMessage && !valid}" class="alert alert-warning" role="alert" id="warning_message"
             th:text="${message}"><i class="glyphicon glyphicon-thumbs-up"></i>
        </div>

        <button type="submit" class="btn btn-primary" th:text="#{action.save}">ذخیره</button>
    </form>
    <hr>
    <a th:href="@{/files/file-info}" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>برگشت به لیست فایل ها</a>
</div>


<th:block th:replace="~{fragments.html :: scripts-select}"></th:block>
<script th:inline="javascript">

    let check1 = 0;
    let check2 = 0;

    $(document).ready(function () {
        $('.fileCategoryId').select2({
            width: '100%'
        });

        $('.fileSubCategoryId').select2({
            width: '100%'
        });

        $('.mainTagFileId').select2({
            width: '100%'
        });

        $('.fileCategoryId').val(null).trigger('change');


    })

    $('#fileForm').on('submit', function() {
        let file_input = $(this).find('input[name="multipartFile"]')[0];
        let sizeFile = file_input.files[0].size;
        if((sizeFile/(1024*1024)) > (20)) {
            alert([[#{js.fileTooLarge}]]);
            return false;
        } else {
            return true;
        }
    });

    function changeMainCategory() {
        check2 = 0;
        $('.fileSubCategoryId').val(null).trigger('change');
        $('.mainTagFileId').val(null).trigger('change');
        if(check1 !== 0) {
            var select = $('.fileSubCategoryId');
            let fileCategoryId = $('#fileCategoryId').val();
            if(fileCategoryId === null) {
                fileCategoryId = -1;
            }
            let token = $("meta[name='_csrf']").attr("content");
            let headerToken = $("meta[name='_csrf_header']").attr("content");
            let contextPath = [[@{/}]];
            $.ajax({
                type: 'GET',
                url: contextPath + 'resource/file-categories/' + fileCategoryId + '/sub-categories',
                headers: {
                    'X-CSRF-TOKEN': token
                },
            }).then(function (data) {
                select.empty().select2({
                    data: data.results
                });
                changeSubCategory();
            });


        }


        check1 = 1;
    }

    function changeSubCategory() {

        $('.mainTagFileId').val(null).trigger('change');
        if(check2 !== 0) {

            var select = $('.mainTagFileId');
            let fileSubCategoryId = $('#fileSubCategoryId').val();
            if(fileSubCategoryId === null) {
                fileSubCategoryId = -1;
            }
            let token = $("meta[name='_csrf']").attr("content");
            let headerToken = $("meta[name='_csrf_header']").attr("content");
            let contextPath = [[@{/}]];
            $.ajax({
                type: 'GET',
                url: contextPath + 'resource/file-sub-categories/' + fileSubCategoryId + '/main-tags',
                headers: {
                    'X-CSRF-TOKEN': token
                },
            }).then(function (data) {
                select.empty().select2({
                    data: data.results
                });
            });
        } else {
            check2 = 1;
        }





    }

</script>


</body>
</html>
