<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ساخت دسته بندی جدید</title>

    <link rel="stylesheet"
          href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>

    <style>
        label {
            float: right
        }

    </style>
</head>
<body>

<div th:insert="~{navbar.html :: navbar}"></div>


<h2></h2>
<h2 class="text-center" dir="rtl">ایجاد دسته بندی جدید</h2>
<div class="container">
    <form th:action="@{/files/categories}" method="post" id="categoryForm">

        <input value="0" name="id" type="hidden">
        <input value="0" name="fullSportClubFieldTitle" type="hidden">




        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="description">توضیحات</label>
                <input dir="rtl" type="text" class="form-control" id="description" name="description" required>
            </div>

            <div class="form-group col-md-6">
                <label for="categoryName">نام دسته بندی</label>
                <input dir="rtl" type="text" class="form-control" id="categoryName" name="categoryName" required>
            </div>


        </div>


        <!-- Success message -->
        <div th:if="true" class="alert alert-success" role="alert" id="success_message"><i
                class="glyphicon glyphicon-thumbs-up" th:text="true"></i>
        </div>
        <div th:if="true" class="alert alert-warning" role="alert" id="warning_message"
             th:text="true"><i class="glyphicon glyphicon-thumbs-up"></i>
        </div>

        <button type="submit" class="btn btn-primary">ذخیره</button>
    </form>
    <a th:href="111" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>برگشت به لیست دسته بندی ها</a>
</div>


<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>

<script>

    $('#categoryForm').on('submit', function() {

        return true;
    });

</script>


</body>
</html>