<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:if="${#strings.equals(pageType, 'create')}">ساخت دسته بندی جدید</title>
    <title th:if="${#strings.equals(pageType, 'update')}">ویرایش دسته بندی</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>

    <style>
        label {
            float: right
        }

    </style>
</head>
<body>

<div th:insert="~{navbar.html :: navbar}"></div>


<h2></h2>
<h2 th:if="${#strings.equals(pageType, 'create')}" class="text-center" dir="rtl">ایجاد دسته بندی جدید</h2>
<h2 th:if="${#strings.equals(pageType, 'update')}" class="text-center" dir="rtl">ویرایش دسته بندی</h2>
<div class="container">
    <form th:action="@{ ${#strings.equals(pageType, 'create') ? '/file-categories' : '/file-categories/' + fileCategory.getId()}  }" method="post" id="categoryForm" th:object="${fileCategory}">

        <input th:field="*{id}" type="hidden">




        <div class="form-row">

            <div class="form-group col-md-6">
                <label>نام دسته بندی(فارسی)</label>
                <input dir="rtl" type="text" class="form-control" th:field="*{categoryNameDescription}" required>
            </div>

            <div class="form-group col-md-6">
                <label>عنوان دسته بندی(به انگلیسی بدون فاصله)</label>
                <input dir="rtl" type="text" class="form-control" th:field="*{categoryName}" required th:readonly="${#strings.equals(pageType, 'update')}">
            </div>

            <div class="form-group col-md-6">
                <label>انتخاب تگ عمومی</label>
                <select class="form-control generalTagId" name="generalTagId" id="generalTagId" required th:readonly="${#strings.equals(pageType, 'update')}" th:disabled="${#strings.equals(pageType, 'update')}">
                    <option th:each="g: ${generalTags}" th:value="${g.getId()}" th:text="${g.getTagName() + ' - ' + g.getTagNameDescription()}" th:selected="${g.getId() == fileCategory.getGeneralTagId()}"></option>
                </select>
            </div>



        </div>


        <!-- Success message -->
        <div th:if="${showMessage && valid}" class="alert alert-success" role="alert" id="success_message"><i
                class="glyphicon glyphicon-thumbs-up" th:text="${message}"></i>
        </div>
        <div th:if="${showMessage && !valid}" class="alert alert-warning" role="alert" id="warning_message"
             th:text="${message}"><i class="glyphicon glyphicon-thumbs-up"></i>
        </div>

        <button type="submit" class="btn btn-primary">ذخیره</button>
    </form>
    <hr>
    <a th:href="@{/file-categories}" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>برگشت به لیست دسته بندی ها</a>
</div>


<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>

<script>

    $('#categoryForm').on('submit', function() {

        return true;
    });

</script>


</body>
</html>