<!DOCTYPE html>
<html lang="fa" dir="rtl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{user.changePassword.heading}">ویرایش رمز عبور </title>

    <th:block th:replace="~{fragments.html :: head-assets}"></th:block>


</head>
<body>

<div th:replace="~{navbar.html :: navbar}"></div>

<div class="container">

    <form class="well form-horizontal" th:action="@{'/users/' + ${user.getId()} + '/change-password'}" method="post"  id="userForm" th:object="${user}">
        <fieldset>

            <!-- Form Name -->
            <legend th:if="${#strings.equals(pageType, 'create')}" th:text="#{user.create.heading}">ایجاد کاربر جدید</legend>

            <!-- Text input-->

            <input th:field="*{id}" type="hidden">

            <div class="form-group">
                <label class="col-md-4 control-label" th:text="#{field.personnelCode}">کد پرسنلی</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input th:field="*{personelCode}" th:placeholder="#{field.personnelCode}" class="form-control"  type="text" required readonly>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" th:text="#{field.username}">نام کاربری</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input th:field="*{username}" th:placeholder="#{field.username}" class="form-control"  type="text" readonly>
                    </div>
                </div>
            </div>




            <!-- Text input-->


            <div class="form-group">
                <label class="col-md-4 control-label" th:text="#{field.password}">رمز عبور</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input th:field="*{password}" th:placeholder="#{field.password}" class="form-control"  type="password" required>
                    </div>
                </div>
            </div>




            <!-- Success message -->
            <div th:if="${showMessage && valid}" class="alert alert-success" role="alert" id="success_message"> <i class="glyphicon glyphicon-thumbs-up"></i> اطلاعات با موفقیت ذخیره شد.</div>
            <div th:if="${showMessage && !valid}" class="alert alert-warning" role="alert" id="warning_message" th:text="${message}"> <i class="glyphicon glyphicon-thumbs-up"></i> لطفا اطلاعات را بطور صحیح وارد نمایید.</div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning" >ذخیره <span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>

        </fieldset>
    </form>
    <hr>
    <a th:href="@{'/users/' + ${user.getId()}}" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>برگشت به پروفایل</a>
</div>

<th:block th:replace="~{fragments.html :: scripts}"></th:block>

<script>
    $('#userForm').on('submit', function() {


        return true;
    });

    $(document).ready(function() {


    });
</script>


</body>
</html>
