<!DOCTYPE html>
<html lang="en" dir="rtl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>

<nav dir="rtl" th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/files/public-files}">فایل ها</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li sec:authorize="isAuthenticated()" class="nav-item active">
                <a class="nav-link" th:href="@{'/users/' + ${#authentication.principal.id}}">پروفایل <span class="sr-only">(current)</span></a>
            </li>
            <li sec:authorize="hasAuthority('GET_ALL_ROLE_PAGE') || hasAuthority('ADMIN')" class="nav-item">
                <a class="nav-link" th:href="@{/roles}">نقش ها</a>
            </li>
            <li sec:authorize="hasAuthority('GET_ALL_USER_PAGE') || hasAuthority('ADMIN')" class="nav-item">
                <a class="nav-link" th:href="@{/users}">کابران</a>
            </li>
            <li sec:authorize="hasAuthority('GET_ALL_GENERAL_TAG_PAGE') || hasAuthority('ADMIN')" class="nav-item">
                <a class="nav-link" th:href="@{/general-tags}">تگ های عمومی</a>
            </li>
            <li sec:authorize="hasAuthority('GET_ALL_FILE_CATEGORY_PAGE') || hasAuthority('ADMIN')" class="nav-item">
                <a class="nav-link" th:href="@{/file-categories}">دسته بندی ها</a>
            </li>
            <li sec:authorize="hasAuthority('GET_ALL_SUB_CATEGORY_PAGE') || hasAuthority('ADMIN')" class="nav-item">
                <a class="nav-link" th:href="@{/file-sub-categories}">دسته بندی های جزئی</a>
            </li>
            <li sec:authorize="hasAuthority('GET_ALL_MAIN_TAG_FILE_PAGE') || hasAuthority('ADMIN')" class="nav-item">
                <a class="nav-link" th:href="@{/main-tags}">تگ های اصلی</a>
            </li>
            <li sec:authorize="hasAuthority('GET_ALL_FILE_INFO_PAGE') || hasAuthority('ADMIN')" class="nav-item">
                <a class="nav-link" th:href="@{/files/file-info}">فایل ها</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/files/public-files}">فایل های عمومی</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/logout}">خروج</a>
            </li>




        </ul>
    </div>
</nav>

</body>
</html>